<br />
<div class="container bg-gold">
  <div class="col-10 offset-1 expand-width-on-mobile">
    <h2>Career Opportunities:</h2>
    <p>Yes, please!</p>
    <p>Unlike typical career opportunity pages where I offer you the chance for employment, this is where I state that I'm available for employment and would very much be interested in hearing from you about potential opportunities as a Ruby on Rails developer.</p>
    <p>Here are some links to get you started: my <a href="https://www.github.com/VonTeacher" target="_blank">GitHub repository</a>, <a href="https://medium.com/@vaughn.weiss" target="_blank">Medium profile</a>, and <a href="https://twitter.com/VonTeacher" target="_blank">Twitter</a> account below.</p>
  </div>
</div>
