<div class="hero">
  <br />
  <div class="frosted-background text-center col-10 offset-1">
    <h1 class="display-3">Flix-Capacitor</h1>
    <p class="lead">Time Traveling Video Mastery</p>
    <%= link_to 'Start the Journey', '#', class: 'btn btn-journey button-bottom-margin' %>
  </div>
</div>

<div class="row text-center feature">
    <div class="col-12 col-md feature-sublet">
      <h3>Unblv Sitez</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatem ipsum eveniet modi facere sit velit eum vitae quis, quibusdam.
      </p>
    </div>
    <div class="col-12 col-md feature-sublet">
      <h3>Indscrb Feelz</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dolore vitae voluptate, nisi placeat quasi!
      </p>
    </div>
    <div class="col-12 col-md feature-sublet">
      <h3>SrTmbRvl</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quisquam, quo odit cumque impedit aliquam ratione repudiandae. Pariatur vitae sunt laboriosam nostrum unde voluptate corporis.
      </p>
    </div>
</div>
