<div class="container">
  <div class="hero">
  <br />
    <div class="frosted-background text-center col-10 offset-1">
      <h1 class="display-3">Flix-Capacitor</h1>
      <p class="lead">Time Traveling Video Mastery</p>
      <%= link_to 'Start the Journey', '#', class: 'btn btn-journey button-bottom-margin' %>
    </div>
  </div>
</div>
