<br />
<div class="container bg-gold">
  <div class="col-10 offset-1 expand-width-on-mobile">
    <h2>Our Privacy Policy</h2>
    <p>We collect personal informmation (your email address) to enable registration and access to courses. No other personally identifiable information is collected.</p>
    <p>Financial information for paid courses is processed and managed by Stripe. We do not maintain financial information on this site.</p>
    <p>In the case that this policy changes, we will update this page accordingly.</p>
    <p>Last updated: 24 Mar 2017</p>
  </div>
</div>
