<br />
<div class="container bg-gold">
  <div class="col-10 offset-1 expand-width-on-mobile">
    <h2>The Team:</h2>
    <p>No team, only Vaughn.</p>
    <p>That's not entirely true. I have to give credit to the supportive team at <a href="https://www.thefirehoseproject.com" target="_blank">The Firehose Project</a>, my peers in the program, my mentor, and all of those who have come before me and paved a smooth path with easy access to documentation, helpful resources, and troubleshooting solutions.</p>
  </div>
</div>
