<div class="container bg-gold">
  <div class="col-10 offset-1">
    <br />
    <h2 class="text-center">
      <%= @course.title %>
      <br />
      <%= @course.description %>
      <br />
      <%= "$#{@course.cost.to_i}" %>
    </h2>
  </div>
</div>
