<div class="container bg-gold">
  <div class="col-10 offset-1">
    <br />
    <h2><%= current_lesson.title %></h2>
    <%= current_lesson.subtitle %>
  </div>
  <%= link_to 'Video', current_lesson.video.to_s %>
  <br />
</div>
