<div class="container bg-gold">
  <div class="col-10 offset-1">
    <br />
    <h2>Add a New Lesson:</h2>
    <br />
    <%= simple_form_for @lesson, url: instructor_section_lessons_path(current_section) do |lesson| %>
      <%= lesson.input :title %>
      <%= lesson.input :subtitle %>
      <%= lesson.submit 'Add This Lesson', class: 'btn bg-button' %>
    <% end %>
    <br />
  </div>
</div>
