<div class="container bg-gold">
  <div class="col-10 offset-1">
    <br />
    <h2 class="text-center">Welcome to the Journey</h2>
    <br />
    <% @courses.each do |course| %>
      <h3>
        <%= link_to course.title, course_path(course), class: 'course-title' %>
      </h3>
      <div class="row">
        <div class="col-sm-8 col-12">
          <%= course.description %>
          <span class="badge badge-pill badge-default">
<!-- Condition to display FREE or course.cost -->
          <% if course.cost == 0 %>
            FREE
          <% else %>
            <%= "#{number_to_currency course.cost}" %>
          <% end %>
<!-- END Condition -->
          </span>
        </div>
        <div class="col-sm-4 col-12 text-center">
          <%= link_to 'View Course', course_path(course), class: 'btn btn-course btn-large' %>
        </div>
        <hr />
      </div>
      <hr />
      <div class="clr"></div>
    <% end %>
    <br />
  </div>
</div>
