@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700');
@import "font-awesome";

$gold-yellow: rgba(224,172,42,1);
$gold-yell-tendarker: rgba(199, 153, 38, 1);
$app-black: #292b2c;
$break-first: 991px;
$break-medium: 767px;
$break-small: 575px;
$break-four-hundred: 440px;

html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

hr {
  background-color: $app-black;
}

.container {
  @media screen and (max-width: $break-small) {
    padding-left: 0;
    padding-right: 0;
  }
}

#flex-content-container {
  flex: 1;
  background-color: $gold-yellow;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 50px;
  background-color: $app-black;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

#footer a {
  color: $gold-yellow;
}

.footer-lead {
  font-weight: bold;
  display: block;
}

.navbar {
  -webkit-box-shadow: 0px 3px 3px 0px $gold-yellow;
     -moz-box-shadow: 0px 3px 3px 0px $gold-yellow;
          box-shadow: 0px 3px 3px 0px $gold-yellow;
  z-index: 3;
}

.navbar-inverse .navbar-nav .nav-link {
  color: $gold-yellow !important;
  transition: transform 0.4s;
  @media screen and (max-width: $break-first) {
    transform-origin: left center;
  }
}

.navbar-inverse .navbar-nav .nav-link:hover {
  transform: scale(1.2);
}

.stop-it {
  transform: none !important;
}

.nav-separator {
  @media screen and (max-width: $break-first) {
    display: none;
  }
}

// remove margin if flash notice or alert is present
p.alert {
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 2px;
}

.hero {
  background: image_url('hero-med.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
      //  -o-background-size: cover;
          background-size: cover;
  height: 370px;
  -webkit-box-shadow: 0px 3px 3px -1px rgba(0,0,0,1);
     -moz-box-shadow: 0px 3px 3px -1px rgba(0,0,0,1);
          box-shadow: 0px 3px 3px -1px rgba(0,0,0,1);
  z-index: 2;
}

.frosted-background {
  background: rgba(0,0,0,0.5);
  color: white;
  border-radius: 5px;
}

.frosted-background h1 {
  // font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 3px 3px 6px;
  @media screen and (max-width: $break-four-hundred) {
    font-size: 3.5rem;
  }
}

.frosted-background p {
  text-shadow: rgba(0,0,0,0.95) 3px 3px 6px;
}

.btn-journey,
.btn-journey:focus {
  color: $gold-yellow;
  border-color: $gold-yellow;
  transition: all 0.4s;
}

.btn-journey:hover {
  color: $app-black;
  background-color: $gold-yellow;
  transform: scale(1.2) translateY(-3px);
}

.button-bottom-margin {
  margin-bottom: 20px;
  border-radius: 0;
}

.feature {
  position: relative;
  z-index: 1;
  background-color: $gold-yellow;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.0rem;
}

.feature-sublet {
  // border: 1px solid red;
  padding-left: 8px;
}

.feature-sublet h3 {
  margin-bottom: 1rem;
}

.feature-sublet p {
  text-align: left;
  line-height: 1.2;
}

// background color class for user pages
.bg-gold {
  background-color: $gold-yellow;
}

// color links on user pages to black
.bg-black,
.bg-black a,
.bg-black:hover {
  color: $app-black;
}

.dashboard-course {
  text-decoration: underline !important;
}

.bg-button {
  background-color: $app-black;
  color: $gold-yellow;
}

input[type=submit] {
  cursor: pointer;
}

.data-submit-error {
  border: 3px solid $app-black;
  padding: 12px 10px 0 10px;
  margin-bottom: 15px;
}

.clr {
  clear: both;
}

// Course show page
a.course-title {
  color: $app-black;
  text-decoration: none;
  transition: all 0.4s;
}

a.course-title:hover {
  background-color: $gold-yell-tendarker;
}

.course-title-centeronsmall {
  @media screen and (max-width: $break-small) {
    text-align: center !important;
  }
}

.btn-course {
  @media screen and (max-width: $break-small) {
    // margin-top: 10px;
  }
}

.btn-course,
.btn-course:focus,
.btn-course-nobreak,
.btn-course-nobreak:focus {
  color: $gold-yellow;
  background-color: $app-black;
  cursor: pointer;
  transition: all 0.4s;
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

.btn-course:hover,
.btn-course-nobreak:hover {
  color: $app-black;
  background-color: $gold-yellow;
  border: 1px solid $app-black;
  // font-weight: bold;
  transform: scale(1.1);
}

.btn-course:active,
.btn-course-nobreak:active {
  color: $app-black;
  transform: translate(2px 2px);
}

.btn-enroll,
.btn-enroll:focus {
  color: $gold-yellow;
  background-color: $app-black;
  cursor: pointer;
  font-size: 150%;
  text-transform: uppercase;
  transition: all 0.4s;
  margin-top: 10px;
  @media screen and (max-width: $break-medium) {
    width: 100%;
  }
}

.btn-enroll:hover {
  color: $app-black;
  background-color: $gold-yellow;
  border: 1px solid $app-black;
  transform: scale(1.1);
}

button.stripe-button-el {
  margin-top: 13px;
}

.course-page-enrolled {
  border: 1px solid $app-black;
  border-radius: 5px;
  line-height: 3rem;
  margin-top: 12px;
  -webkit-box-shadow: 0px 0px 3px 3px $app-black;
  -moz-box-shadow: 0px 0px 3px 3px $app-black;
  box-shadow: 0px 0px 3px 3px $app-black;

}

.no-ul-padding {
  padding-left: 0px;
  list-style: none;
}

ol {
  list-style: none;
}

.error-bottom-margin {
  margin-bottom: 20px;
}

.course-image-border-shadow {
  border: 1px solid $app-black;
  -webkit-box-shadow: 0px 3px 3px -1px $app-black;
     -moz-box-shadow: 0px 3px 3px -1px $app-black;
          box-shadow: 0px 3px 3px -1px $app-black;
  position: relative;
}

.margin-below-course-image {
  margin-bottom: 12px;
}

.on-small-image-overlay {
  position: absolute;
  bottom: 14px;
  display: none;
  @media screen and (max-width: $break-small) {
    display: block;
  }
}

.on-small-image-overlay span {
  color: white;
  background: rgb(41, 43, 44);
  background: rgba(41, 43, 44, 0.7);
  padding: 10px;
}

.hide-badge-under575 {
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

.section-borders {
  border: 1px solid $app-black;
  -webkit-box-shadow: 0px 3px 3px -1px $app-black;
     -moz-box-shadow: 0px 3px 3px -1px $app-black;
          box-shadow: 0px 3px 3px -1px $app-black;
  padding: 10px 10px 0;
  margin-top: 20px;
}

.lesson {
  background-color: $app-black;
  color: $gold-yellow;
  margin-top: 10px;
  height: 130px;
  padding: 15px 5px 15px;
}

.height-for-sorting {
  height: 100px;
}

.lesson a,
.lesson a:hover {
  color: $gold-yellow;
  // font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  // font-weight: 100;
  font-size: 25px;
}

.lesson hr {
  margin: 5px auto;
  width: 100px;
  background-color: $gold-yellow;
}

ol li {
  text-align: center !important;
}

ol li b {
  font-size: 25px;
}

ol.lessons {
  padding-left: 0;
}

span.fa-ellipsis-v.sectiondrag {
  position: absolute;
  left: 28px;
  margin-top: 6px;
}

span.fa-ellipsis-v.lessondrag {
  position: absolute;
  left: 42px;
}

.h6 {
  position: absolute;
  right: 28px;
  margin-top: 6px;
}

.expand-width-on-mobile {
  @media screen and (max-width: $break-medium) {
    margin-left: 0;
    // width: 100%;
    max-width: 100%;
  }
}

.flush-padding-with-title {
    padding-left: 0;
    padding-right: 0;
}

.yellow-play-icon {
  float: left;
  margin-top: -8px;
  margin-right: -30px;
  margin-left: 2px;
  @media screen and (max-width: $break-four-hundred) {
    display: none;
  }
}

.add-section {
  font-size: 24px;
  // border: 1px solid $app-black;
  text-align: center !important;
  margin-top: 10px;
  margin-bottom: -20px;
}

.sortable-lesson-placeholder,
.sortable-section-placeholder {
  height: 50px;
  width: 100%;
  border: 2px solid black;
}

.video-js {
  overflow: hidden;
}

.current-enrollment {
  border: 1px solid $app-black;
}

.modal-content {
  background-color: $gold-yellow;
}

.modal-header {
  border-bottom-color: $app-black;
}

.modal-footer {
  border-top-color: $app-black;
}
