@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700');

$gold-yellow: rgba(224,172,42,1);
$app-black: #292b2c;
$break-first: 991px;
$break-four-hundred: 440px;

html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 50px;
  background-color: $app-black;
  color: white;
}

#footer a {
  color: $gold-yellow;
}

.footer-lead {
  font-weight: bold;
  display: block;
}

.navbar {
  -webkit-box-shadow: 0px 3px 3px 0px $gold-yellow;
     -moz-box-shadow: 0px 3px 3px 0px $gold-yellow;
          box-shadow: 0px 3px 3px 0px $gold-yellow;
  z-index: 1;
}

.navbar-inverse .navbar-nav .nav-link {
  color: $gold-yellow !important;
  transition: transform 0.4s;
  @media screen and (max-width: $break-first) {
    transform-origin: left center;
  }
}

.navbar-inverse .navbar-nav .nav-link:hover {
  transform: scale(1.2);
}

.stop-it {
  transform: none !important;
}

// remove margin if flash notice or alert is present
p.alert {
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 2px;
}

.hero {
  background: image_url('hero-med.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
      //  -o-background-size: cover;
          background-size: cover;
  height: 370px;
  -webkit-box-shadow: 0px 3px 3px -1px rgba(0,0,0,1);
     -moz-box-shadow: 0px 3px 3px -1px rgba(0,0,0,1);
          box-shadow: 0px 3px 3px -1px rgba(0,0,0,1);
}

.frosted-background {
  background: rgba(0,0,0,0.5);
  color: white;
  border-radius: 5px;
}

.frosted-background h1 {
  // font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 3px 3px 6px;
  @media screen and (max-width: $break-four-hundred) {
    font-size: 3.5rem;
  }
}

.frosted-background p {
  text-shadow: rgba(0,0,0,0.95) 3px 3px 6px;
}

.btn-journey {
  color: $gold-yellow;
  border-color: $gold-yellow;
  transition: all 0.4s;
}

.btn-journey:hover {
  color: $app-black;
  background-color: $gold-yellow;
  transform: scale(1.2) translateY(-3px);
}

.button-bottom-margin {
  margin-bottom: 20px;
  border-radius: 0;
}

.feature {
  position: relative;
  z-index: -1;
  background-color: $gold-yellow;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.0rem;
}

.feature-sublet {
  // border: 1px solid red;
  padding-left: 8px;
}

.feature-sublet h3 {
  margin-bottom: 1rem;
}

.feature-sublet p {
  text-align: left;
  line-height: 1.2;
}

// background color class for user pages
.bg-gold {
  background-color: $gold-yellow;
}

// color links on user pages to black
.bg-black,
.bg-black a {
  color: $app-black;
}

.bg-button {
  background-color: $app-black;
  color: $gold-yellow;
}

input[type=submit]{
  cursor: pointer;
}

.data-submit-error {
  border: 3px solid $app-black;
  padding: 12px 10px 0 10px;
  margin-bottom: 15px;
}
