// Place all the styles related to the instructor/courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.help-block-style {
  background-color: #292b2c;
  color: #e0ac20;
  margin-left: 5px;
  padding: 3px 5px;
  border-radius: 3px;

}
